@import 'normalize';
@import 'typography';
@import 'nav';

/*
Base Responsive Styling
 */
 /*The following 7 lines are from Paul Irish and apply a border-box model.
 See this page for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
 /* apply a natural box layout model to all elements, but allowing components to change */
 html {
   box-sizing: border-box;
   text-align: center;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

 // Basic Responsive Images and Video
 img,video{
   width: auto;
   height: auto;
   max-width: 100%;
 }

 figure{
   margin: 0;
 }

 // .img-grid{
 //   display: inline-block;
 //   width: 33.33%;
 //   float: left;
 //   padding: 10px;
 // }
 //
 // .img-grid img{
 //   width: 100%;
 // }

 // main img{
 //   width: 100%;
 // }
.img-grid h3{
font-size: 1.8rem;
}

 /* =========================================
    Home page styles
    ======================================== */



 .article-title p{
   text-align: center;
   font-size: 1.2rem;
  /* float: left;*/
 }
 @supports (grid-area: auto){
  .homepage{
    display:grid;
    grid-template-columns: 1fr;
  }
  .site-header h1{
    font-size: 3.2rem;
  }
  .img-grid h3{
  font-size: 1.5rem;
  }

  .article-title h2{
    font-size: 1.8rem;
  }
}
@media (min-width: 600px){
  .homepage{
    grid-template-columns: 1fr 1fr;
  }
  .site-header h1{
    font-size: 3.6rem;
  }
  .img-grid h3{
  font-size: 1.8rem;
  }

  .article-title h2{
    font-size: 2.3rem;
  }
}//end min-width 600px

@media (min-width: 1200px){
  .homepage{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .site-header h1{
    font-size: 4rem;
  }
  .img-grid h3{
  font-size: 1.7rem;
  }

  .article-title h2{
    font-size: 2.5rem;
  }

}//end @media min-width 1200px


//end @supports

 /* =========================================
    About page styles
    ======================================== */

      @supports (grid-area: auto){
       #About{
         font-size: 1.5rem;
         color: red;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }
     @media (min-width: 600px){
       #About{
         font-size: 1.7rem;
        //color: blue;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }
     @media (min-width: 1200px){
       #About{
         font-size: 2rem;
         color: green;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }








/* =========================================
  Inclusion page styles
  ======================================== */

  @supports (grid-area: auto){
   #inclusion{
     font-size: 1.5rem;
     //color: red;
   }
   .article-image{
     width: 100%;
     figure img{
       width: 100%;
     }
   }
 }

 @media (min-width: 600px){
   #inclusion{
     font-size: 1.7rem;
     color: blue;
   }
   .article-image{
     width: 100%;
     figure img{
       width: 100%;
     }
   }
 }

 @media (min-width: 1200px){
   #inclusion{
     font-size: 2rem;
     color: green;
   }
   .article-image{
     width: 100%;
     figure img{
       width: 100%;
     }
   }
 }







/* =========================================
    Opportunity page styles
    ======================================== */

      @supports (grid-area: auto){
       #Opportunity{
         font-size: 1.5rem;
         color: red;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }
     @media (min-width: 600px){
       #Opportunity{
         font-size: 1.7rem;
        //color: blue;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }
     @media (min-width: 1200px){
       #Opportunity{
         font-size: 2rem;
         color: green;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }

    /* =========================================
      Supportiing_Cities
      ======================================== */
      @supports (grid-area: auto){
       #Supportiing_Cities{
         font-size: 1.5rem;
         color: red;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }
     @media (min-width: 600px){
       #Supportiing_Cities{
         font-size: 1.7rem;
        //color: blue;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }
     @media (min-width: 1200px){
       #Supportiing_Cities{
         font-size: 2rem;
         color: green;
       }
       .article-image{
         width: 100%;
         figure img{
           width: 100%;
         }
       }
     }
